html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
button {
  font-size: 24px;
  padding: 12px 24px;
}
select {
  font-size: 16px;
  padding: 8px;
}
#video-element {
  transform: scaleX(-1);
}

