/* center everything */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* style label and button */
label {
  font-size: 1.5rem;
  margin-right: 1rem;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* style the translation */
#translation {
  font-size: 3rem;
  margin-top: 2rem;
}

#video-element {
  transform: scaleX(-1);
}