button {
  /* Add basic styling for the button */
  border: none;
  background-color: #0099ff;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

/* Add hover styling for the button */
button:hover {
  background-color: #0066cc;
}

.info {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: white;
  border: 1px solid black;
  padding: 10px;
}

#camera-info {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}

#camera-info p {
  margin: 0;
}